<div class="control-group">\
    <a class="remove-group" href="#"><i class="fa fa-remove"></i></a>\
    <label class="control-label" for="">{__('Name')}</label>\
    <div class="controls">\
        <input type="text" name="Install-Adminmenu-Settingslink-Setting-Options-Option-#counter#[]" class="form-control required" placeholder="Auswahlmöglichkeit X">\
    </div>\
    <label class="control-label" for="">{__('Value')}</label>\
    <div class="controls">\
        <input type="text" name="Install-Adminmenu-Settingslink-Setting-Options-Option-value-#counter#[]" class="form-control required" placeholder="42">\
    </div>\
</div>\
